<!doctype html>
<html lang="ar" dir="ltl">

<head>
    {{> headerlink }}
</head>

<body class="log">
    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row1 no-gutters">
                <div class="col-lg-5">
                    <img src="images/img3.jpg" class="img-fluid" alt="sign logo">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Plipkard</h1>
                    <h4>Sign into your account</h4>
                    <form action="" method="">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" id="email"class="form-control my-3 p-4" placeholder="johndot@gmail.com">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" id="password" placeholder="********"class="form-control my-3 p-4">
                            </div>
                        </div>
                        <div class="form-row btn-responsive" >
                            <div class="col-lg-7">
                                <button class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                        <a class="btn-responsive1" href="#">Forgot password</a>
                        <p class="btn-responsive1">Don't have an account?<a href="/registration">Register here</a></p>
                    </form>
                </div>
            </div>
        </div>

    </section>
</body>

</html>