<!doctype html>
<html lang="ar" dir="ltl">

<head>
    {{> headerlink }}
</head>

<body class="log">
    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row1 no-gutters">
                <div class="col-lg-5">
                    <img src="images/img5.jpg" class="img-fluid" alt="sign logo">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Plipkard</h1>
                    <h4>Create New Account</h4>
                    <form action="" method="">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" id="name" class="form-control my-3 p-4"
                                    placeholder="Enter your Name">
                            </div>
                            <div class="col-lg-7">
                                <input type="email" id="email" class="form-control my-3 p-4"
                                    placeholder="johndot@gmail.com">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" id="password" placeholder="********"
                                    class="form-control my-3 p-4">
                            </div>
                            <div class="col-lg-7">
                                <input type="password" id="password" placeholder="********"
                                    class="form-control my-3 p-4">
                            </div>
                        </div>
                        <div class="form-row btn-responsive">
                            <div class="col-lg-7">
                                <button class="btn1 mt-3 mb-5">Create Account</button>
                            </div>
                        </div>
                        <p class="btn-responsive1">I have an account?<a href="/login">Sign in</a></p>
                    </form>
                </div>
            </div>
        </div>

    </section>
</body>

</html>