<!doctype html>
<html lang="ar" dir="ltl">

<head>
    {{> headerlink }}
</head>

<body>
    <div>
        {{> navbar}}
    </div>

    <!-- products section -->
    <section class="products_section">
        <div class="heading_container">
            <h2>
                New Products In Store
            </h2>
            <p>
                Featured Product Just Arrived
            </p>
        </div>
        <div class="container layout_padding">
            <div class="product_container">
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p1.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 250
                            </span>
                            <p>
                                Digital watch
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p2.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 340
                            </span>
                            <p>
                                Cup watch 
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p3.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 580
                            </span>
                            <p>
                                Baby slipper
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p4.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 630
                            </span>
                            <p>
                                Cooling Fan
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p5.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 430
                            </span>
                            <p>
                                Headphone
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p6.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 390
                            </span>
                            <p>
                                Stranded Glasses
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p7.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 629
                            </span>
                            <p>
                               Fance Shoose
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p8.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 399
                            </span>
                            <p>
                                Laptop Bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p9.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 499
                            </span>
                            <p>
                               Femail bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p10.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 99
                            </span>
                            <p>
                                Marble Ceramic Porcelain Mortar and Pestle
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p11.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 470
                            </span>
                            <p>
                               Baby slipper Pink
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p12.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 150.00
                            </span>
                            <p>
                                Hardphone
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="product_container">
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p1.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 250
                            </span>
                            <p>
                                Digital watch
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p2.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 340
                            </span>
                            <p>
                                Cup watch 
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p3.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 580
                            </span>
                            <p>
                                Baby slipper
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p4.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 630
                            </span>
                            <p>
                                Cooling Fan
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p5.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 430
                            </span>
                            <p>
                                Headphone
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p6.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 390
                            </span>
                            <p>
                                Stranded Glasses
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p7.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 629
                            </span>
                            <p>
                               Fance Shoose
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p8.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 399
                            </span>
                            <p>
                                Laptop Bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p9.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 499
                            </span>
                            <p>
                               Femail bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p10.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 99
                            </span>
                            <p>
                                Marble Ceramic Porcelain Mortar and Pestle
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p11.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 470
                            </span>
                            <p>
                               Baby slipper Pink
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p12.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 150.00
                            </span>
                            <p>
                                Hardphone
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
         <div class="product_container">
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p1.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 250
                            </span>
                            <p>
                                Digital watch
                            </p>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p2.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 340
                            </span>
                            <p>
                                Cup watch 
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p3.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 580
                            </span>
                            <p>
                                Baby slipper
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p4.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 630
                            </span>
                            <p>
                                Cooling Fan
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p5.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 430
                            </span>
                            <p>
                                Headphone
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p6.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 390
                            </span>
                            <p>
                                Stranded Glasses
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p7.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 629
                            </span>
                            <p>
                               Fance Shoose
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p8.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 399
                            </span>
                            <p>
                                Laptop Bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p9.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 499
                            </span>
                            <p>
                               Femail bag
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p10.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 99
                            </span>
                            <p>
                                Marble Ceramic Porcelain Mortar and Pestle
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p11.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 470
                            </span>
                            <p>
                               Baby slipper Pink
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/payment">
                    <div class="product_box">
                        <div class="product_img-box">
                            <img src="images/p12.png" alt="" />
                            <span>
                                Sale
                            </span>
                        </div>
                        <div class="product_detail-box">
                            <span>
                                Rs 150.00
                            </span>
                            <p>
                                Hardphone
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- end products section -->
    <footer>
        {{>footer}}
    </footer>

</body>

</html>